.j-bg-1{
    background-color: black;
}
.j-bg-2{
    background-color: #E6B31E;
}
.j-bg-3{
    background-color: #FCFAF1;
}
.j-bg-4{
    background-color: #CACACA;
}
.j-1{
    color: #343434;
}
.j-2{
    color: #E6B31E;
}
.j-3{
    color: #FCFAF1;
}
.j-4{
    color: #CACACA;
}