.j-bg-1{
    background-color: #F4F4F4;
}
.j-bg-2{
    background-color: #F0A500;
}
.j-bg-3{
    background-color: #CF7500;
}
.j-bg-4{
    background-color: #1A1C20;
}
.j-1{
    color: #F4F4F4;
}
.j-2{
    color: #F0A500;
}
.j-3{
    color: #CF7500;
}
.j-4{
    color: #1A1C20;
}